ol > li{
    
    color: blueviolet;
    font-size: 24px;
}

/* @media ({

    ol > li{
    
        color: blue;
        font-size: 50px;
    }
    
    .warning{
        background-color: pink;
        font-size: 90px;
        
    }
} */

@media only screen and (max-width: 480px) {
    body {
      background-color: lightblue;
    }
    
    ol > li{
    
        color: blue;
        font-size: 50px;
    }

  }  


a:hover{
    color: brown;
}

.warning{
    background-color: red;
    font-size: 90px;
    
}
.warning:hover{
    background-color: purple;
    font-size: 90px;
    
}

.calm{
    background-color: powderblue;
    font-size: 20px;
    
}

.calm:hover{
    background-color: darkseagreen;
    font-size: 20px;
    
}